# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Entornos virtuales
venv/
env/
.venv
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db

# Archivos sensibles
.env
*.env.local
*.env.*.local
secret.json
*.secret.json
config/secrets.json